/*--------------------------------------------------------------
# Basic Structure
--------------------------------------------------------------*/
::-webkit-input-placeholder {
    color: inherit;
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

:-moz-placeholder {
    color: inherit;
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

::-moz-placeholder {
    color: inherit;
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

:-ms-input-placeholder {
    color: inherit;
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s
}

*:focus::-webkit-input-placeholder {
    opacity: 0
}

*:focus:-moz-placeholder {
    opacity: 0
}

*:focus::-moz-placeholder {
    opacity: 0
}

*:focus:-ms-input-placeholder {
    opacity: 0
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    line-height: 1.7;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

}


a:hover,
a:focus,
a:active,
button:focus {
    text-decoration: none;
}

a,
a:hover,
a:active,
button:focus {
    outline: none;
    color: inherit;
    word-break: break-word;
}

a:focus {
    outline: 1px dotted;
    outline-offset: -2px;
    color: inherit;
}

a, area, button, input, label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: block;
}

b, strong {
    font-weight: bolder;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: 1.2;
    word-break: break-word;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

em, cite, q {
    color: #492cdd;
    font-style: italic;
    font-weight: 600;
}

code, kbd, tt, var, samp, pre {
    font-family: inherit;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    background: #212529;
    color: #ffffff;
    padding: 1px 5px;
    border-radius: 3px;
    font-size: 88%;
}

pre {
    display: block;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: auto;
}

table {
    border: 1px solid #e9e9e9;
    background-color: #fcfcfc;
    border-spacing: 0;
    margin: 0;
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #e9e9ea;
    padding: 8px 10px;
}

table th {
    background-color: #492cdd;
}

.blog-items table th a,
table th {
    color: #ffffff;
}

.blog-items table th a:focus,
.blog-items table th a:hover {
    color: #e9e9ea;
}

p {
    margin: 0 0 10px;
    word-break: break-word;
}

figure {
    margin: 0;
}

address,
table,
pre {
    width: 100%;
}

/* ul, ol { */
    /* margin: 0; */
    /* padding: 0; */
/* } */

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    font-weight: 600;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

fieldset {
    border: 1px solid #e9e9ea;
    margin: 1.5rem 2px;
    padding: 10px 25px 20px;
    border-radius: 3px;
}

iframe {
    max-width: 100%;
    height: auto;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 3px;
    background: transparent;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    outline: 1px dotted;
    outline-offset: -2px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    border-radius: 3px;
    display: block;
    line-height: 1.55;
    font-size: inherit;
    font-weight: 400;
    padding: .5625rem 1rem;
    vertical-align: middle;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #e9e9ea;
    outline: none;
    letter-spacing: 0.5px;
    box-shadow: none;
    background-image: linear-gradient(#383E41, #383E41), linear-gradient(#e9e9ea, #e9e9ea);
    background-size: 0 1px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - -1px);
    -moz-transition: background 0s ease-out;
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
}

input[type="text"]:focus, input[type="email"]:focus,
input[type="url"]:focus, input[type="password"]:focus,
input[type="search"]:focus, input[type="number"]:focus,
input[type="tel"]:focus, input[type="range"]:focus,
input[type="date"]:focus, input[type="month"]:focus,
input[type="week"]:focus, input[type="time"]:focus,
input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="color"]:focus, textarea:focus, select:focus {    
    background-size: 100% 2px, 100% 2px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

select {
    background-clip: padding-box;
    border: 1px solid #e9e9ea;
    border-radius: 3px;
    display: block;
    font-size: 92%;
    font-weight: 400;
    padding: 10px 12px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    box-shadow: none;
    overflow: auto !important;
    outline: 0;
    background-image: linear-gradient(#383E41, #383E41), linear-gradient(#e9e9ea, #e9e9ea);
    background-size: 0 1px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - -1px);
    background-color: #ffffff;
    -moz-transition: background 0s ease-out;
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
}

textarea {
    height: 150px;
}

input[type=checkbox], input[type=radio],
form[id*=give-form] #give-gateway-radio-list>li input[type=radio],
form[id*=give-form] #give-gateway-radio-list>li input[type=checkbox],
div.wpforms-container-full .wpforms-form input[type=radio],
div.wpforms-container-full .wpforms-form input[type=checkbox] {
    border: 2px solid #492cdd;
    background: #fff;
    color: #555;
    clear: none;
    cursor: pointer;
    display: inline-block;
    line-height: 0;
    height: 20px;
    margin: -3px 3px 0 0;
    outline: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 20px !important;
    max-width: 20px;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    transition: .05s border-color ease-in-out;
}

input[type=radio] {
    border-radius: 50%;
    margin-right: 4px;
    line-height: 12px;
}

input[type=checkbox]:checked:before,
input[type=radio]:checked:before {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    speak: none;
    line-height: 1.2;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: .3s all;
    transition: .3s all;
}

input[type=radio]:checked:before {
    content: "\2022";
    text-indent: -9999px;
    border-radius: 50px;
    font-size: 24px;
    width: 8px;
    height: 8px;
    margin: 4px;
    line-height: 20px;
    background: #492cdd;
}

input[type=checkbox]:checked:before {
    content: "\f00c";
    font-family: fontawesome;
    color: #492cdd;
}

/*---//---*/

/* XL BTN Start */

.xl-btn {
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    line-height: 1.2;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border-style: solid;
    font-size: inherit;
    padding: .5em 2em;
}

.btn-st-1 {
    padding: 0;
    height: auto;
    background: none;
    box-shadow: none;
    border: none;
    font-weight: 500;
    font-size: 15px;
}

/* ---//--- */

.xl-container {
    width: 100%;
    max-width: 1200px;  
    margin: 0 auto;
}

.xl-container,
.xl-container-fluid {
    padding: 0 50px;
}

.xl-columns-area {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0px -15px;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
}

[class*="xl-column-"] {
    position: relative;
    width: 100%;
    padding: 0px 15px;
    z-index: 0;
}

.d-none, div.d-none {
    display: none;
}
.d-block, div.d-block {
    display: block;
}

.d-inline, div.d-inline {
    display: inline;
}

.d-inline-block, div.d-inline-block {
    display: inline-block;
}

.mt-0 {margin-top: 0;}.mt-1 {margin-top: .25rem;}.mt-2 {margin-top: .5rem;}.mt-3 {margin-top: 1rem;}.mt-4 {margin-top: 1.5rem;}.mt-5 {margin-top: 3rem;}
.mr-0 {margin-right: 0;}.mr-1 {margin-right: .25rem;}.mr-2 {margin-right: .5rem;}.mr-3 {margin-right: 1rem;}.mr-4 {margin-right: 1.5rem;}.mr-5 {margin-right: 3rem;}
.mb-0 {margin-bottom: 0;}.mb-1 {margin-bottom: .25rem;}.mb-2 {margin-bottom: .5rem;}.mb-3 {margin-bottom: 1rem;}.mb-4 {margin-bottom: 1.5rem;}.mb-5 {margin-bottom: 3rem;}
.ml-0 {margin-left: 0;}.ml-1 {margin-left: .25rem;}.ml-2 {margin-left: .5rem;}.ml-3 {margin-left: 1rem;}.ml-4 {margin-left: 1.5rem;}.ml-5 {margin-left: 3rem;}

.my-0 {padding-top: 0;padding-bottom: 0;}.my-1 {padding-top: .25rem;padding-bottom: .25rem;}.my-2 {padding-top: .5rem;padding-bottom: .5rem;}.my-3 {padding-top: 1rem;padding-bottom: 1rem;}.my-4 {padding-top: 1.5rem;padding-bottom: 1.5rem;}.my-5 {padding-top: 3rem;padding-bottom: 3rem;}
.mx-0 {padding-left: 0;padding-right: 0;}.mx-1 {padding-left: .25rem;padding-right: .25rem;}.mx-2 {padding-left: .5rem;padding-right: .5rem;}.mx-3 {padding-left: 1rem;padding-right: 1rem;}.mx-4 {padding-left: 1.5rem;padding-right: 1.5rem;}.mx-5 {padding-left: 3rem;padding-right: 3rem;}

.pt-0 {padding-top: 0;}.pt-1 {padding-top: .25rem;}.pt-2 {padding-top: .5rem;}.pt-3 {padding-top: 1rem;}.pt-4 {padding-top: 1.5rem;}.pt-5 {padding-top: 3rem;}
.pr-0 {padding-right: 0;}.pr-1 {padding-right: .25rem;}.pr-2 {padding-right: .5rem;}.pr-3 {padding-right: 1rem;}.pr-4 {padding-right: 1.5rem;}.pr-5 {padding-right: 3rem;}
.pb-0 {padding-bottom: 0;}.pb-1 {padding-bottom: .25rem;}.pb-2 {padding-bottom: .5rem;}.pb-3 {padding-bottom: 1rem;}.pb-4 {padding-bottom: 1.5rem;}.pb-5 {padding-bottom: 3rem;}
.pl-0 {padding-left: 0;}.pl-1 {padding-left: .25rem;}.pl-2 {padding-left: .5rem;}.pl-3 {padding-left: 1rem;}.pl-4 {padding-left: 1.5rem;}.pl-5 {padding-left: 3rem;}

.py-0 {padding-top: 0;padding-bottom: 0;}.py-1 {padding-top: .25rem;padding-bottom: .25rem;}.py-2 {padding-top: .5rem;padding-bottom: .5rem;}.py-3 {padding-top: 1rem;padding-bottom: 1rem;}.py-4 {padding-top: 1.5rem;padding-bottom: 1.5rem;}.py-5 {padding-top: 3rem;padding-bottom: 3rem;}
.px-0 {padding-left: 0;padding-right: 0;}.px-1 {padding-left: .25rem;padding-right: .25rem;}.px-2 {padding-left: .5rem;padding-right: .5rem;}.px-3 {padding-left: 1rem;padding-right: 1rem;}.px-4 {padding-left: 1.5rem;padding-right: 1.5rem;}.px-5 {padding-left: 3rem;padding-right: 3rem;}


.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.my-auto {
    margin: auto 0px;
}

.mx-auto {
    margin: 0px auto;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.flex-fill {
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
}

.flex-fill:nth-child(2) {
    flex-basis: 18%;
}

.flex-10 {
    -ms-flex: 1 1 10%;
    flex: 1 1 10%;
}

.flex-15 {
    -ms-flex: 1 1 15%;
    flex: 1 1 15%;
}

.flex-20 {
    -ms-flex: 1 1 20%;
    flex: 1 1 20%;
}

.flex-25 {
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
}

.flex-30 {
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
}

.flex-35 {
    -ms-flex: 1 1 35%;
    flex: 1 1 35%;
}

.flex-40 {
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
}

.flex-45 {
    -ms-flex: 1 1 45%;
    flex: 1 1 45%;
}

.flex-50 {
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
}

.flex-55 {
    -ms-flex: 1 1 55%;
    flex: 1 1 55%;
}

.flex-60 {
    -ms-flex: 1 1 60%;
    flex: 1 1 60%;
}

.flex-65 {
    -ms-flex: 1 1 65%;
    flex: 1 1 65%;
}

.flex-70 {
    -ms-flex: 1 1 70%;
    flex: 1 1 70%;
}

.flex-75 {
    -ms-flex: 1 1 75%;
    flex: 1 1 75%;
}

.flex-80 {
    -ms-flex: 1 1 80%;
    flex: 1 1 80%;
}

.flex-85 {
    -ms-flex: 1 1 85%;
    flex: 1 1 85%;
}

.flex-90 {
    -ms-flex: 1 1 90%;
    flex: 1 1 90%;
}

.flex-95 {
    -ms-flex: 1 1 95%;
    flex: 1 1 95%;
}

.flex-100 {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
}

.flex-auto {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.mobile-menu .dropdown-menu.d-flex {
    display: -ms-flexbox;
    display: flex;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.float-none {
    float: none;
}

/* Responsive Desktop Properties */
@media (min-width: 992px) {
    .xl-column-1 {
        -ms-flex: 0 0 16.333333%;
        flex: 0 0 16.333333%;
        max-width: 16.333333%;
    }
    .xl-column-2 {
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .xl-column-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .xl-column-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .xl-column-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    .xl-column-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .xl-column-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .xl-column-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .xl-column-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .xl-column-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .xl-column-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    .xl-column-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .d-xl-none, div.d-xl-none {
        display: none;
    }
    .d-xl-block, div.d-xl-block {
        display: block;
    }
    .d-xl-inline, div.d-xl-inline {
        display: inline;
    }
    .d-xl-inline-block, div.d-xl-inline-block {
        display: inline-block;
    }
    .text-xl-left {
        text-align: left;
    }

    .text-xl-right {
        text-align: right;
    }

    .text-xl-center {
        text-align: center;
    }
    .my-xl-auto {
        margin: auto 0px;
    }

    .mx-xl-auto {
        margin: 0px auto;
    }
    .mt-xl-0 {margin-top: 0;}.mt-xl-1 {margin-top: .25rem;}.mt-xl-2 {margin-top: .5rem;}.mt-xl-3 {margin-top: 1rem;}.mt-xl-4 {margin-top: 1.5rem;}.mt-5 {margin-top: 3rem;}
    .mr-xl-0 {margin-right: 0;}.mr-xl-1 {margin-right: .25rem;}.mr-xl-2 {margin-right: .5rem;}.mr-xl-3 {margin-right: 1rem;}.mr-xl-4 {margin-right: 1.5rem;}.mr-xl-5 {margin-right: 3rem;}
    .mb-xl-0 {margin-bottom: 0;}.mb-xl-1 {margin-bottom: .25rem;}.mb-xl-2 {margin-bottom: .5rem;}.mb-xl-3 {margin-bottom: 1rem;}.mb-xl-4 {margin-bottom: 1.5rem;}.mb-xl-5 {margin-bottom: 3rem;}
    .ml-xl-0 {margin-left: 0;}.ml-xl-1 {margin-left: .25rem;}.ml-xl-2 {margin-left: .5rem;}.ml-xl-3 {margin-left: 1rem;}.ml-xl-4 {margin-left: 1.5rem;}.ml-xl-5 {margin-left: 3rem;}

    .pt-xl-0 {padding-top: 0;}.pt-xl-1 {padding-top: .25rem;}.pt-xl-2 {padding-top: .5rem;}.pt-xl-3 {padding-top: 1rem;}.pt-xl-4 {padding-top: 1.5rem;}.pt-xl-5 {padding-top: 3rem;}
    .pr-xl-0 {padding-right: 0;}.pr-xl-1 {padding-right: .25rem;}.pr-xl-2 {padding-right: .5rem;}.pr-xl-3 {padding-right: 1rem;}.pr-xl-4 {padding-right: 1.5rem;}.pr-xl-5 {padding-right: 3rem;}
    .pb-xl-0 {padding-bottom: 0;}.pb-xl-1 {padding-bottom: .25rem;}.pb-xl-2 {padding-bottom: .5rem;}.pb-xl-3 {padding-bottom: 1rem;}.pb-xl-4 {padding-bottom: 1.5rem;}.pb-xl-5 {padding-bottom: 3rem;}
    .pl-xl-0 {padding-left: 0;}.pl-xl-1 {padding-left: .25rem;}.pl-xl-2 {padding-left: .5rem;}.pl-xl-3 {padding-left: 1rem;}.pl-xl-4 {padding-left: 1.5rem;}.pl-xl-5 {padding-left: 3rem;}

    .float-xl-right {
        float: right;
    }

    .float-xl-left {
        float: left;
    }

    .float-xl-none {
        float: none;
    }
}
/* ---//--- */
